*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2)
    
    
    
}
.btn{
    width:60px;
    height:60px;
    font-size: 20px;
    border:0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
    margin:10px;
    
    

}
#display{
    width:100%;
    height:50px;
    font-size: 30px;
    
}
@media only screen and (max-width:400px){
    .btn{
        width:38px;
        height:40px;
        font-size: 12px;
    }
    .calculator{
        padding:20px;
        margin:5px;
}
